.node-type-page .fonts, .node-type-page main.l-main .field--name-body p {
  font-family: 'Open Sans', sans-serif; }
.node-type-page main.l-main {
  width: 100%;
  height: 100%;
  float: left;
  margin-top: 35px; }
  .node-type-page main.l-main .l-content {
    width: 70%;
    margin: 0 auto; }
    @media (max-width: 992px) {
      .node-type-page main.l-main .l-content {
        width: 90%; } }
  .node-type-page main.l-main h1 {
    color: #008785;
    font-size: 54px;
    margin-top: 30px;
    line-height: 1.15em; }
    @media (max-width: 600px) {
      .node-type-page main.l-main h1 {
        font-size: 30px; } }
  .node-type-page main.l-main .field--name-body ul {
    width: 100%;
    display: block;
    padding-left: 30px;
    margin-bottom: 15px;
    list-style-type: none; }
    .node-type-page main.l-main .field--name-body ul li {
      position: relative;
      font-size: 18px;
      font-weight: 400;
      line-height: 28px;
      margin-bottom: 10px;
      color: #46484a;
      vertical-align: middle;
      padding-left: 20px; }
      .node-type-page main.l-main .field--name-body ul li:before {
        content: '';
        position: absolute;
        left: 0;
        top: 12px;
        display: inline-block;
        height: 5px;
        width: 5px;
        background-color: #15b0a9;
        border-radius: 5px; }
      .node-type-page main.l-main .field--name-body ul li a {
        color: #008785; }
  .node-type-page main.l-main .field--name-body p {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 15px; }
  .node-type-page main.l-main .field--name-body a {
    color: #008785; }
    .node-type-page main.l-main .field--name-body a:hover {
      text-decoration: underline; }
  .node-type-page main.l-main .field--name-body img {
    padding-right: 15px;
    margin-bottom: 15px;
    width: 100%;
    height: auto; }

.node-type-page .field--name-body div {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 15px; }
.node-type-page .field--name-body ol li {
  position: relative;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 10px;
  color: #46484a;
  list-style: decimal;
  vertical-align: middle;
  padding-left: 20px; }
.node-type-page iframe {
  border: 0;
  margin-bottom: 15px;
  margin-top: 15px;
  max-width: 100%;
  width: 640px !important;
  float: none;
  display: block; }
.node-type-page .code {
  background-color: #25282b;
  text-align: left;
  font-size: 18px;
  font-style: italic;
  line-height: 28px;
  color: #ffffff;
  padding: 28px 35px 41px 41px;
  margin-top: 43px;
  margin-bottom: 43px; }
  .node-type-page .code strong {
    color: #1cff9c; }
  .node-type-page .code em {
    color: #2eece9; }
.node-type-page .comment {
  color: #9a9a9a; }
.node-type-page .red {
  color: #f45342; }
.node-type-page .orange {
  color: #e59920; }
.node-type-page .violet {
  color: #a14dff; }
.node-type-page .yellow {
  color: #ebf06f; }
.node-type-page .l-content h1 {
  line-height: 1.15em; }
  @media (max-width: 992px) {
    .node-type-page .l-content h1 {
      font-size: 36px; } }
  @media (max-width: 480px) {
    .node-type-page .l-content h1 {
      font-size: 28px; } }
.node-type-page .l-content h2 {
  font-size: 28px;
  color: #46484a;
  margin-top: 12px; }
  @media (max-width: 992px) {
    .node-type-page .l-content h2 {
      font-size: 24px; } }
  @media (max-width: 480px) {
    .node-type-page .l-content h2 {
      font-size: 21px; } }
.node-type-page .l-content h3 {
  font-size: 24px;
  color: #46484a;
  padding-top: 30px;
  padding-bottom: 24px;
  margin-top: 0px;
  letter-spacing: 0px; }
  @media (max-width: 992px) {
    .node-type-page .l-content h3 {
      font-size: 21px; } }
  @media (max-width: 480px) {
    .node-type-page .l-content h3 {
      font-size: 18px; } }
.node-type-page .l-content h4 {
  padding-top: 30px;
  padding-bottom: 24px; }
  @media (max-width: 992px) {
    .node-type-page .l-content h4 {
      font-size: 18px; } }
  @media (max-width: 480px) {
    .node-type-page .l-content h4 {
      font-size: 16px; } }
.node-type-page .l-content h5 {
  padding-top: 30px;
  padding-bottom: 24px; }
@media (max-width: 992px) {
  .node-type-page .l-content p {
    font-size: 16px !important; } }
@media (max-width: 480px) {
  .node-type-page .l-content p {
    font-size: 16px !important; } }
.node-type-page blockquote {
  border: 3px solid #39c7c4;
  color: #46484a;
  font-size: 21px;
  font-style: italic;
  line-height: 36px;
  padding: 50px 80px 60px 72px;
  margin: 40px 0px 50px 0px; }
  @media (max-width: 992px) {
    .node-type-page blockquote {
      padding: 20px 30px 20px 30px; } }
  @media (max-width: 480px) {
    .node-type-page blockquote {
      padding: 20px 30px 20px 30px; } }
  .node-type-page blockquote .rteright {
    text-align: right;
    padding-top: 15px;
    padding-bottom: 10px;
    font-style: initial; }
  .node-type-page blockquote p {
    font-size: 20px !important; }

/*# sourceMappingURL=basic_page.css.map */
